<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Phone number</dt>
      <dd><%= @user.phone_number %></dd>

      <dt>Home address</dt>
      <dd><%= @user.home_address %></dd>

      <dt>Certified</dt>
      <dd><%= @user.certified %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many commitments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Commitments
      </li>

      <% @user.commitments.each do |commitment| %>
        <li class="list-group-item">
          <a href="/commitments/<%= commitment.id %>">
            <%= commitment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/commitments/<%= commitment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/commitments/<%= commitment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_commitment/<%= commitment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many postings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Postings
      </li>

      <% @user.postings.each do |posting| %>
        <li class="list-group-item">
          <a href="/postings/<%= posting.id %>">
            <%= posting.description %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/postings/<%= posting.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/postings/<%= posting.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_posting/<%= posting.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
