<div class="page-header">
  <h3>Posting #<%= @posting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @posting.description %></dd>

      <dt>Volunteers needed</dt>
      <dd><%= @posting.volunteers_needed %></dd>

      <dt>Start date</dt>
      <dd><%= @posting.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @posting.end_date %></dd>

      <dt>Actions</dt>
      <dd><%= @posting.actions %></dd>

      <dt>Poster</dt>
      <dd><%= @posting.poster_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/postings" class="btn btn-primary">
        Back
      </a>
      <a href="/postings/<%= @posting.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_posting/<%= @posting.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Posting has many commitments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Commitments
      </li>

      <% @posting.commitments.each do |commitment| %>
        <li class="list-group-item">
          <a href="/commitments/<%= commitment.id %>">
            <%= commitment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/commitments/<%= commitment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/commitments/<%= commitment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_commitment/<%= commitment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Posting has many tagging_joins -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tagging Joins
      </li>

      <% @posting.tagging_joins.each do |tagging_join| %>
        <li class="list-group-item">
          <a href="/tagging_joins/<%= tagging_join.id %>">
            <%= tagging_join.tag_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tagging_joins/<%= tagging_join.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tagging_joins/<%= tagging_join.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tagging_join/<%= tagging_join.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Posting has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @posting.tags.each do |tag| %>
        <li class="list-group-item">
          <a href="/tags/<%= tag.id %>">
            <%= tag.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tags/<%= tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tags/<%= tag.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tag/<%= tag.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
