<div class="page-header">
  <h3>Tagging Join #<%= @tagging_join.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Tag</dt>
      <dd>
        <% if @tagging_join.tag.present? %>
          <a href="/tags/<%= @tagging_join.tag_id %>">
            <%= @tagging_join.tag.name %>
          </a>
        <% end %>
      </dd>

      <dt>Posting</dt>
      <dd>
        <% if @tagging_join.posting.present? %>
          <a href="/postings/<%= @tagging_join.posting_id %>">
            <%= @tagging_join.posting.description %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tagging_joins" class="btn btn-primary">
        Back
      </a>
      <a href="/tagging_joins/<%= @tagging_join.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tagging_join/<%= @tagging_join.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
